@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  width: 400px;
  height: 500px;
  background-color: #fff;
}

#add-device-window {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: 3s;
}

#qrcode > img {
  width: 250px;
  height: 250px;
}

#qrcode {
  z-index: 666;
}

#qrcode,
#qrcode-placeholder {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
}

svg g text,
#get-the-app {
  font-family: 'Roboto', sans-serif;
}

#get-the-app {
  position: absolute;
  bottom: 2px;
  right: 2px;
  margin-bottom: 5px;
  margin-right: 5px;
  color: #121212;
  background-color: #fff;
  font-size: 15px;
}

#device-select-label {
  position: absolute;
  top: 3.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  color: #121212;
}

#scan-info-text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #121212;
}

#device-select {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 180px;
}

#device-select:focus {
  outline: none;
}
