span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit;
}

/*Styling Selectbox*/
.dropdown {
  width: 320px;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all 0.5s ease;
  position: relative;
  font-size: 20px;
  color: #474747;
  height: 50px;
  text-align: left;
  /*margin-left: auto;*/
  margin-left: 40px;
  margin-right: 20px;
  margin-top: 20px;
  vertical-align: top;
  user-select: none;
}
.dropdown:focus {
  outline: none;
}

.dropdown .select {
  cursor: pointer;
  display: block;
  padding: 10px;
}
.dropdown .select > i {
  font-size: 13px;
  color: #888;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  float: right;
  line-height: 20px;
}
.dropdown:hover {
  box-shadow: 0 0 4px rgb(204, 204, 204);
}
.dropdown:active {
  background-color: #f8f8f8;
}
.dropdown.active:hover,
.dropdown.active {
  box-shadow: 0 0 4px rgb(204, 204, 204);
  border-radius: 2px 2px 0 0;
  background-color: #f8f8f8;
}
.dropdown.active .select > i {
  transform: rotate(-90deg);
}
.dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  margin-top: 1px;
  box-shadow: 0 1px 2px rgb(204, 204, 204);
  border-radius: 0 1px 2px 2px;
  overflow: hidden;
  display: none;
  max-height: 300px;
  overflow-y: auto;
  z-index: 9;
}
.dropdown .dropdown-menu li {
  padding: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.dropdown .dropdown-menu {
  padding: 0;
  list-style: none;
}
.dropdown .dropdown-menu li:hover {
  background-color: #f2f2f2;
}
.dropdown .dropdown-menu li:active {
  background-color: #e2e2e2;
}


.az-input {
  display: flex;
  border-radius: 6px;
  height: 35px;

  border: 2px solid #888;
}


.az-input > button {
  outline: none;
  border: none;
  background-color: #00000000;
  color: white;
}



.az-input > label {
  line-height: 33px;
  width: 75px;
  color: white;
  background-color: #888;
  text-align: center;

}

.az-input > input {
  color: white;
  padding-left: 5px;
  width: 100%;
  

  outline: none;
  border: none;
  background-color: #00000000;
}

.az-input > select {
  display: inline-block;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #00000000;
  color: white;
}

.az-input > .left {
  display: inline-block;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.az-input > .right {
  display: inline-block;
  padding: 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.az-btn {
  width: 50%;
  cursor: pointer;
}

.az-input:focus-within {
  box-shadow: 0 0 5px 1px #888;
}

.az-btn:active {
  background-color: #88888888 !important;
}

.az-btn:hover {
  box-shadow: 0 0 5px 1px #888;
}


.az-pressed {
  background-color: #888 !important;
  box-shadow: 0 0 5px 1px #888;
}

.az-nofocus:focus-within {
  box-shadow: none;
}

.az-send {
  float: right;

  outline: none;
  border: none;
  color: white;
  background-color: #888;
  border: 2px solid #888;
  border-radius: 5px;
  padding: 5px;
}

.az-send:hover {
  box-shadow: 0 0 5px 1px #888;
}


.az-dropdown {
  cursor: pointer;
}

.az-dropdown:hover {
  background-color: #88888888;
}

.az-dropdown:hover >  .az-dropdown-content{
  display: block;
}

.az-dropdown-content {
  display: none;
  position: absolute;
  z-index: 100;
  width: 100%;
  top:  35px;
  background-color: white;

}

.az-dropdown-content > span {
  display: block;
  color: black;
  background-color: white;
}

.az-dropdown-content > span:hover {
  background-color: #888;
}

.az-video {
  width: 50%; 
  position: relative; 
  line-height: 33px; 
  color: white; 
  text-align: center; 
  display: inline-block; 
  width: 50%;
}